@import "../../styles/scss/theme.scss";

footer {
  background: $brown;

  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 130px 0;
    position: relative;
    @media (max-width: 813px) {
      justify-content: center;
      flex-direction: column;
    }
    div {
      margin-right: 15px;
    }
    a {
      text-decoration: none;

      div {
        width: fit-content;
        margin-bottom: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white;
      }
    }

    .buttons {
      .nav-button {
        margin-left: 0;
        width: fit-content;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white;
        padding: 5px 20px;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
