<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./footer.css">
</head>

<body>


  <footer>
    <div class="container-main">
      <div class="links">
        <div>
          <a href="#">
            <div>Как работает pubs.ua</div>
          </a>
        </div>
        <div>
          <a href="#">
            <div>Условия использования</div>
          </a>
        </div>
        <div>
          <a href="#">
            <div>Вопросы и ответы</div>
          </a>
        </div>
        <div>
          <a href="#">
            <div>Политика конфиденциальности</div>
          </a>
        </div>
        <div>
          <a href="#">
            <div>О нас</div>
          </a>
        </div>
        <div>
          <a href="#">
            <div class="buttons">
              <button class="nav-button">Связаться с нами</button>
            </div>
          </a>
        </div>
        <div class="select">
          <select name="language" id="">
            <option value="Русский">Русский</option>
            <option value="English">English</option>
          </select>
        </div>
        <!-- /.select -->
      </div>
      <!-- /.links -->

    </div>
  </footer>
</body>

</html>