<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./header.css">
  <title>Document</title>
</head>

<body>
  <div class="mob-menu">
    <div class="close">
      <button>
        <img src="../../img/closeBut.png" alt="">
      </button>
    </div>


    <div class="link enter"><a href="#">Войти</a></div>
    <div class="link register"><a href="#">Регистрация</a></div>
    <div class="select">
      <select name="language" id="">
        <option value="Русский">Русский</option>
        <option value="English">English</option>
      </select>
    </div>
  </div>
  <div class="nav-panel-mob">
    <div class="logo">
      <img src="../../../img/free_horizontal_on_white_by_logaster-removebg-preview 23.png" alt="">
    </div>
    <div class="burger-button">
      <button>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <header>
    <div class="container-main">


      <div class="nav-panel">
        <div class="logo">
          <img src="../../../img/free_horizontal_on_white_by_logaster-removebg-preview 23.png" alt="">
        </div>
        <!-- /.logo -->
        <div class="right-panel">
          <div class="search">
            <label for="" class="search-label">
              <input type="text" name="" id="search" autocomplete="off" placeholder="ПОИСК">
              <div class="search-icon">
                <img src="../.././img/search-icon.png" alt="">
              </div>
              <!-- /.search-icon -->
            </label>
            <!-- /.search-label -->
          </div>
          <!-- /.search -->
          <div class="buttons">
            <button class="nav-button enter">Войти</button>
            <button class="nav-button register">Регистрация</button>
          </div>
          <!-- /.buttons -->
        </div>
        <!-- /.right-panel -->
      </div>
    </div>
  </header>

  <script src="../../js/burgerButton.js"></script>
</body>

</html>