@import "../../styles/scss/theme.scss";

.mob-menu {
  padding-top: 30px;
}
.nav-panel-mob {
  display: flex;
  @media (min-width: 767.98px) {
    display: none;
  }
}
header {
  background-color: $brown;

  .nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    height: 52px;
    @media (max-width: 767.98px) {
      display: none;
    }

    .search {
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }
}
