

@font-face {
    font-family: "GothamPro";
    src: url(../fonts/GothamPro.ttf);
  }
  @font-face {
    font-family: "GothamPro-Black";
    src: url(../fonts/GothamPro-Black.ttf);
  }
  @font-face {
    font-family: "GothamPro-Bold";
    src: url(../fonts/GothamPro-Bold.ttf);
  }
  @font-face {
    font-family: "GothamPro-Medium";
    src: url(../fonts/GothamPro-Medium.ttf);
  }
  
  :root {
    --white: #ffff;
    --orange: #e68c26;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
  .mt-10 {
    margin-top: 7.5rem !important;
  }
  .mb-10{
    margin-bottom: 7.5rem !important;
  }
  
  body {
    font-family: "GothamPro";
  }
  .h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "GothamPro";
  }
  .h1 span {
    font-family: "GothamPro-Bold";
  }
  hr{
    margin: 0;
  }
  .text_p {
    font-family: "GothamPro";
    text-align: center;
    font-size: 1.2rem;
  }
  a {
    color: var(--white);
  }
  .button {
    background-color: var(--orange);
    border: none;
    color: var(--white);
    padding: 20px 30px;
    font-size: 16px;
    font-family: "GothamPro";
  
    line-height: 1.2;
  }
  .button img {
    margin-left: 10px;
  }
  
  /*Menu*/
  body > header > nav:nth-child(1){
    display: none;
  }
  header {
    background: url(../img/Узор+плашка+фото.png) center;
    background-size: cover;
    height: auto;
  }
  nav {
    height: 95px;
    background: url(../img/Плашка3.png);
    font-size: 16px;
  }
  body > header > nav > div {
    padding-top: 15px;
  }
  
  .header_block_menu {
    position: relative;
  }
  .header_block_menu ul {
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .header_block_menu ul li {
    margin: auto 0 auto 30px;
    color: var(--white);
    padding-top: 20px;
  }
  body
    > header
    > nav
    > div
    > div
    > div.header_block_menu
    > ul
    > a:nth-child(1)
    > li {
    margin: 0;
  }
  body > header > nav > div > div > div.header_block_menu > ul > li > img {
    margin-left: 5px;
  }
  
  .submenu {
    position: relative;
    text-align: center;
  }
  .podmenu {
    text-align: center;
  }
  
  .menu ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 0;
    height: 0;
    text-align: center;
    z-index: 10;
  }
  .menu:hover ul{
    visibility: visible;
    opacity: 1;
    width: 160px;
    height: auto;
    cursor: pointer;
    position: absolute;
    text-align: left;
    vertical-align: middle;
    margin-left: -20px !important;
    
  }
  .menu ul li{
    background-color: #223748;
    padding: 15px 20px;
    margin: 0;
    border-bottom:1px solid white;
    border-top:1px solid white;
  }
  .menu li:hover{
    color: #223748;
    background: white;
    border: 1px solid #223748;
  }
  body > header > nav > div > div > div.column > div:nth-child(1) {
    font-family: "GothamPro";
    font-weight: bold;
    color: var(--white);
  }
  body > header > nav > div > div > div.column > div.text-center > a {
    color: var(--orange);
    font-size: 14px;
    text-decoration: underline;
  }
  body > header > nav > div > div > div.column {
    padding-top: 8px;
  }
  body > header > nav > div > div > div.column > div:nth-child(1) > img {
    margin-right: 5px;
    margin-top: -2px;
  }
  .navig{
    margin-top: 2rem;
  }
  /*Form*/
.form {
  background: url(../img/formbg.png);
  background-size: contain;
}
.form_p {
  font-size: 1.2rem;
}

.form-group input {
  border: 1px solid #e6e6e6;
  height: 67px;
  width: 90%;
  padding: 0 20px;
}
.button-form {
  width: 100%;
}
body > div.form.container-fluid > div.container > p{
  margin-bottom: 0;
}
   
    @media (max-width:1199.98px){
  
        body > header > nav:nth-child(1) > div > div > div:nth-child(2){
          margin-left: 20%;
        }
        body > header > nav:nth-child(2){
          display: none;
        }
        body > header > nav:nth-child(1){
          display: block;
          position: fixed;
          width: 100%;
          z-index: 40;
          top: 0%;
         
        }
        body > header > nav:nth-child(1) > div{
          margin-right: 0;
        }
        .navig{
            margin-top: 8rem;
          }
          .mobile-buter {
            display: block;
            background: rgba(255, 255, 255);
            z-index: 49;
            position: absolute;
            left: 40px;
            top: 20px;
            border-radius: 50%;
            width: 52px;
            height: 52px;
            padding: 11px 0;
            cursor: pointer;
            transition: all 0.3s ease-out;
            z-index: 9999;
          }
          .mobile-buter:hover {
            background: #ffffff;
          }
          .mobile-buter span {
            display: block;
            background: rgb(0, 0, 0);
            width: 28px;
            height: 2px;
            margin: 6px auto;
            transition: all 0.2s ease-out;
          }
        
          .mobile-buter.open-buter span {
            position: relative;
          }
        
          .mobile-buter.open-buter span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 7px;
          }
        
          .mobile-buter.open-buter span:nth-of-type(2) {
            opacity: 0;
          }
        
          .mobile-buter.open-buter span:nth-of-type(3) {
            transform: rotate(-45deg);
            top: -8px;
          }
          .mobile-text {
            display: absolute;
            margin-left: 50px;
            margin-top: -22px;
            color: white;
          }
          .mobile-buter.open-buter {
            left: 250px;
            pointer-events: none;
            z-index: 9999;
          }
          .header-menu {
            position: absolute;
            margin-top: -10px;
            height: 100vh;
            overflow-y: scroll !important;
            font-size: 1.5rem;
            background: #223748;
            z-index: 50;
            padding: 0;
            left: 0%;
          }
          .header-menu ul {
            padding: 20px;
          }
          .header-menu li {
            margin: 20px 0;
          }
          body
            > header
            > nav:nth-child(1)
            > div
            > div
            > div.row
            > div.header-menu
            > ul
            > li {
            list-style: none;
          }
          body
            > header
            > nav:nth-child(1)
            > div
            > div
            > div.row
            > div.header-menu
            > ul
            > li
            > img {
            display: none;
          }
          body
            > header
            > nav:nth-child(1)
            > div
            > div
            > div.row
            > div.header-menu
            > ul
            > li
            > ul {
            padding: 0px;
          }
          /*Form*/
.form {
    background: url(../img/formbg.png);
    background-size: contain;
  }
  .form_p {
    font-size: 1.2rem;
  }
  
  .form-group input {
    border: 1px solid #e6e6e6;
    height: 62px;
    width: 90%;
    padding: 0 20px;
  }
  .button-form {
    width: 100%;
  }
  body > div.form.container-fluid > div.container > p{
    margin-bottom: 0;
  }
    
  
      
      }
      @media (min-width:768px) and (max-width:1199.98px){
          .h1 {
              text-align: center;
              font-size: 2rem;
              font-family: "GothamPro";
            }
            .h1 span {
              font-family: "GothamPro-Bold";
            }
            .text_p {
              text-align: center;
              font-size: .9rem;
              font-weight: normal;
            }
            p~.text-center{
              font-family: "GothamPro";
                font-size: .8rem;
            }
          .button {
              background-color: var(--orange);
              border: none;
              color: var(--white);
              padding: 20px 30px;
              font-size: 14px;
              font-family: "GothamPro-Medium";
              
              line-height: 1.2;
              
            }
            .form-group input{
              width: 100%;
              font-size: .8rem;
          }
          .button-form{
              font-size: .9rem;
              padding: 20px 0px;
          }
          
      }
      
      @media(max-width:991.98px){
        
            .mobile-text{
              display: absolute;
              margin-left: 50px;
              margin-top: -22px;
              color: white;
            }
            .header-menu{
              position: absolute;
              margin-top: -10px;
              
              font-size: 1.3rem;
              background: #223748;
              z-index: 50;
              padding: 0;
              left: 15%;
            }
      }
      
      @media(max-width:767.98px){
        
        .h1{
          font-size: 1.7rem;
        }
        .text_p{
          font-size: 1rem;
        }
        .navig{
            margin-top: 5rem;
          }
        /*Menu*/
        body > header > nav:nth-child(1){
          height: 60px;
        }
        body > header > nav:nth-child(1) > div{
          padding-top: 0px;
        }
        body > header > nav:nth-child(1) > div > div{
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
        }
        body > header > nav:nth-child(1) > div > div > div.row > div > div{
          width: 32px;
          height: 32px;padding: 6px 0;
          left: 15px;
          margin-top: -5px;
        }
        .mobile-buter span{
          width: 17px;
          margin: 4px auto;
          
        }
        .mobile-buter.open-buter span:nth-of-type(1) {
          transform: rotate(45deg);
          top: 5px;
        }
        
        .mobile-buter.open-buter span:nth-of-type(2) {
          opacity: 0;
        }
        
        .mobile-buter.open-buter span:nth-of-type(3) {
          transform: rotate(-45deg);
          top: -7px;
          
        }
        .header-menu{
          position: absolute;
          margin-top: 0px;
          
          font-size: 1.4rem;
          background: #223748;
          z-index: 50;
          padding: 0;
          left: 10%;
        }
       
        body > header > nav:nth-child(1) > div > div > div:nth-child(2){
          margin-left: 30px;
        }
        body > header > nav:nth-child(1) > div > div > div:nth-child(2) > img{
          transform: scale(.7);
          margin-left: 30px;
        }
        body > header > nav:nth-child(1) > div > div > div.column{
          font-size: .8rem;
        }
        body > header > nav:nth-child(1) > div > div > div.column > div.text-center{
          text-align: right !important;
        }
        body > header > nav:nth-child(1) > div > div > div.column > div.text-center > a{
          font-size: .7rem;
        }
        body > header > nav:nth-child(1) > div > div > div.column > div:nth-child(1) > img{
          transform: scale(.7);
          margin-right: 0px;
        }
        .header-menu{
          font-size: 1.2rem;
        }
      
       
       
      }
      @media(max-width:575.98px){
        body > header > nav:nth-child(1) > div > div > div.row > div > div > div{
          display: none !important;
        }
      .header-menu {
        position: absolute;
        margin-top: 0px;
        
        font-size: 1.3rem;
        background: #223748;
        z-index: 50;
        padding: 0;
        left: 18%;
      }
      
      }
      @media(max-width:354.98px){
        body > header > nav:nth-child(1) > div > div > div:nth-child(2){
          display: none;
        }
        }

/*advantages*/
.advan {
    background: url(../img/advbackg.png);
  }
  .about {
    position: relative;
    padding: 0 0 0 40px;
  }
  .about p:nth-child(3) {
    font-size: 14px;
  }
  .about img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .about-right {
    position: relative;
    padding: 0 40px 0 0;
    font-size: 18px;
  }
  .about-right p:nth-child(3) {
    font-size: 14px;
  }
  
  .about-right img {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .image_adv {
    background: url(../img/adv_center.png) no-repeat center;
    background-size: contain;
    
  }

  @media(max-width:991.98px){
    .image_adv{
        display: none;
    }

    .about-right {
        text-align: left !important;
        position: relative;
        padding: 0 0 0 40px;
      }
      .about-right p:nth-child(3) {
        font-size: 14px;
      }
      .about-right img {
        position: absolute;
        top: 0;
        left: 0;
      }
  }

  @media(max-width:767.98px){
    body > div.container-fluid.advan.mt-5.pb-5 > div,
    body > div.container-fluid.how_work > div{
    padding: 0;
    }
    body > div.container-fluid.advan.mt-5.pb-5 > div > div > div:nth-child(3) > div:nth-child(1){
      margin-top: 1.5rem !important;
    }
    body > div.container-fluid.advan.mt-5.pb-5 > div > div > div:nth-child(3) > div.about-right.text-right.mt-10{
      margin-top: 3rem !important;
    }
  }

  .our-partner{
      background: url(../img/partnerbcg.png);
      background-size: cover;
      color: white;
      position: relative;
  }
 
  .title_logo div {
    height: 60px;
    margin-right: 0px;
  }
  .title_logo img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(50%, -50%) scale();
  }
  .first-slide{
    margin-top: 10px;
    left: 2%;
     
  }
  .second-slide{
    margin-top: 10px;
    left: 5%;
  }
  .third-slide{
    left: 2%;
  }
 .four-slide{
   margin-top: 10px;
    left: 0%;
    top: 10%;
    transform: translate(-50%, -50%) scale(); 
  }
  .five-slide{
    left: 5%;
  }
  
  body > div.container-fluid.mt-5.our-partner > div > div.swiper-container.container-fluid.swiper-container-initialized.swiper-container-horizontal > div > div.swiper-slide.swiper-slide-active{
    left: 0%;
    transform: translate(0%, 0%) scale();  
  }
 
@media(max-width:1299.98px){
  .swiper-container{
    width: 85%;
  }
  
}

@media(max-width:767.98px){
  .swiper-container{
    width: 85%;
  }
  /*Form*/
.form{
  padding-top: 1rem;
}
.form-group{
  padding: 0;
}
.form-group input{
  width: 100%;
  height: 50px;
}
.button-form{
  padding: 12px 20px;
}
}
@media(max-width:575.98px){
  .text_p{
    font-size: .7rem;
  }
  .title_logo div{
    width: 90%;
  }
  .title_logo img{
    position: absolute;
    top: 0%;
    
    transform: translate(0%, 0%) scale(.6);
  }
  .our-partner{
    background: url(../img/our-partner.png);
    background-size: cover;
    }
  .swiper-slide-active{
    left:0%;
  }
  .swiper-container {
    height: 60px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  .swiper-slide-invisible-blank {
    visibility: hidden;
  }
  .swiper-container-autoheight,
  .swiper-container-autoheight .swiper-slide {
    height: auto;
  }
  .swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
  .swiper-container-3d {
    perspective: 1200px;
  }
  .swiper-container-3d .swiper-cube-shadow,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d;
  }
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-container-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
  }
  .swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
  .swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
  .swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    scroll-snap-type: y mandatory;
  }
  :root {
    --swiper-navigation-size: 44px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: 70px;
    outline: none;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  .swiper-button-next.swiper-button-disabled{
      content: url(../img/arr-left-mob.png);
      cursor: auto;
      pointer-events: none;
      transform: scale(-1, 1);
  }
  .swiper-button-prev.swiper-button-disabled {
    content: url(../img/arr-left-mob.png);
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    width: 30px;
    height: 30px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    height: 30px;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: url(../img/arr-rigght-mob.png);
    transform: scale(-1, 1);
    margin-top: -38px !important;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    
    
    height: 30px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: url(../img/arr-rigght-mob.png);
    margin-top: -38px !important;
  }
  .first-slide{
    left: 0%;
    transform: translate(0%, 0%);
  }
  .four-slide{
    transform: translate(-35%, 0%);
  }
}
@media(max-width:430px){
  .first-slide{
    transform: translate(-20%, 0%);
  }
}



/*button  burger */
@media(max-width:1199.98px){
  .mobile-buter {
    display: block;
    background: rgba(255, 255, 255);
    z-index: 49;
    position: absolute;
    left: 40px;
    top: 20px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    padding: 11px 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index: 9999;
  }
  .mobile-buter:hover {
    background: #ffffff;
  }
  .mobile-buter span {
    display: block;
    background: rgb(0, 0, 0);
    width: 28px;
    height: 2px;
    margin: 6px auto;
    transition: all 0.2s ease-out;
  }

  .mobile-buter.open-buter span {
    position: relative;
  }

  .mobile-buter.open-buter span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px;
  }

  .mobile-buter.open-buter span:nth-of-type(2) {
    opacity: 0;
  }

  .mobile-buter.open-buter span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: -8px;
  }
  .mobile-text {
    display: absolute;
    margin-left: 50px;
    margin-top: -22px;
    color: white;
  }
  .mobile-buter.open-buter {
    left: 250px;
    pointer-events: none;
    z-index: 9999;
  }
  .header-menu {
    position: absolute;
    margin-top: -10px;
    height: 100vh;
    overflow-y: scroll !important;
    font-size: 1.5rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 0%;
  }
  .header-menu ul {
    padding: 20px;
  }
  .header-menu li {
    margin: 20px 0;
  }
  body
    > header
    > nav:nth-child(1)
    > div
    > div
    > div.row
    > div.header-menu
    > ul
    > li {
    list-style: none;
  }
  body
    > header
    > nav:nth-child(1)
    > div
    > div
    > div.row
    > div.header-menu
    > ul
    > li
    > img {
    display: none;
  }
  body
    > header
    > nav:nth-child(1)
    > div
    > div
    > div.row
    > div.header-menu
    > ul
    > li
    > ul {
    padding: 0px;
  }
}
@media (max-width: 991.98px) {
  .mobile-text {
    display: absolute;
    margin-left: 50px;
    margin-top: -22px;
    color: white;
  }
  .header-menu {
    position: absolute;
    margin-top: -10px;

    font-size: 1.3rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 15%;
  }
  .mobile-buter.open-buter {
    left: 250px;
    pointer-events: none;
    z-index: 9999;
  }
  .header-menu {
    position: absolute;
    margin-top: -10px;
    height: 100vh;
    overflow-y: scroll !important;
    font-size: 1.5rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 0%;
  }
}
@media(max-width:767.98px){
  body > header > nav:nth-child(1) > div > div > div.row > div > div {
    width: 32px;
    height: 32px;
    padding: 6px 0;

    margin-top: -5px;
  }
  .mobile-buter span {
    width: 17px;
    margin: 4px auto;
  }
  .mobile-buter.open-buter span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 5px;
  }

  .mobile-buter.open-buter span:nth-of-type(2) {
    opacity: 0;
  }

  .mobile-buter.open-buter span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: -7px;
  }
  .header-menu {
    position: absolute;
    margin-top: 0px;

    font-size: 1.4rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 10%;
  }
  .mobile-buter.open-buter {
    left: 250px !important;
    pointer-events: none;
    z-index: 9999;
  }
  .header-menu {
    position: absolute;
    margin-top: -10px;
    height: 105vh;
    overflow-y: scroll !important;
    font-size: 1.5rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 0%;
  }
}
@media (max-width: 575.98px) {
 
  .mobile-buter.open-buter {
    left: 245px;
    pointer-events: none;
    z-index: 9999;
  }
  .header-menu {
    position: absolute;
    margin-top: -10px;
    height: 105vh;
    overflow-y: scroll !important;
    font-size: 1.5rem;
    background: #223748;
    z-index: 50;
    padding: 0;
    left: 0%;
  }
}

