$brown: #271301;
$gold: #9f821a;
$green: #16866b;
$white: #ffffff;
$yellow: #e4ae21;
$grey: #e2e2e2;

$green-border: #1da611;
$gold-border: #e9bc1a;

/* Register modal*/

$background-form: rgba(196, 196, 196, 0.46);
$black-border: rgba(0, 0, 0, 0.15);
$eror: #e83737;
$progress: #0a7c2a;

/* Slider bullet STARS */
$slider-bullet-and-star-gray: #b1b0b0;
$star-orange: #dca34d;
