@import "../../../../styles/scss/bootstrap-grid.min.css";
/* Register modal*/
/* Slider bullet STARS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.mob-menu {
  position: fixed;
  max-width: 247px;
  min-height: 300px;
  width: 247px;
  height: 100vh;
  background-color: #402105;
  right: 0;
  z-index: 35;
  display: none;
}
.mob-menu .close {
  position: absolute;
  top: 13px;
  right: 10px;
}
.mob-menu .close button {
  background-color: transparent;
  border: none;
  outline: none;
}
.mob-menu .user-name {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 20px;
}
.mob-menu .user-name p {
  margin-left: 12px;
}
.mob-menu .link {
  border-bottom: 1px solid #fffafa;
  margin-bottom: 19px;
}
.mob-menu .link a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 39px;
}
.mob-menu .select {
  left: 25px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
@media (max-width: 575.98px) {
  .nav-panel {
    display: none;
  }
}
.nav-panel .right-panel {
  display: flex;
  align-items: center;
}

.nav-panel-mob {
  background-color: #271301;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 575.98px) {
  .nav-panel-mob {
    display: none;
  }
}
.nav-panel-mob .burger-button button {
  width: 36px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: #271301;
  outline: none;
  border: none;
  padding: 0;
}
.nav-panel-mob .burger-button button span {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #ffe39a;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.mt-100 {
  margin-top: 100px;
}

.show {
  display: block !important;
}

.container-main {
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}
@media (max-width: 767.98px) {
  .container-main {
    padding: 0 70px;
  }
}
@media (max-width: 575.98px) {
  .container-main {
    padding: 0 10px;
  }
}

.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.search {
  margin-right: 38px;
  position: relative;
  width: 240px;
  height: 30px;
}
@media (max-width: 900px) {
  .search {
    display: none;
  }
}
.search .search-label {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.search input#search {
  border: none;
  width: 100%;
  height: 100%;
  background: rgba(214, 211, 211, 0.6);
  padding-left: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search input#search:focus {
  outline: none;
}
.search input#search::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search .search-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .nav-button {
  width: 88px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-left: 30px;
  color: #ffffff;
  cursor: pointer;
}

.buttons .button-fill {
  width: 220px;
  height: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 31px;
  background: #9f821a;
  border: none;
}

.select {
  position: absolute;
  bottom: 17px;
  right: 15px;
}
.select select {
  width: 123px;
  height: 36px;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 6px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(http://127.0.0.1:5500/img/select.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.select select option {
  background-color: black;
}

/* Register modal*/
/* Slider bullet STARS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.mob-menu {
  position: fixed;
  max-width: 247px;
  min-height: 300px;
  width: 247px;
  height: 100vh;
  background-color: #402105;
  right: 0;
  z-index: 35;
  display: none;
}
.mob-menu .close {
  position: absolute;
  top: 13px;
  right: 10px;
}
.mob-menu .close button {
  background-color: transparent;
  border: none;
  outline: none;
}
.mob-menu .user-name {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 20px;
}
.mob-menu .user-name p {
  margin-left: 12px;
}
.mob-menu .link {
  border-bottom: 1px solid #fffafa;
  margin-bottom: 19px;
}
.mob-menu .link a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 39px;
}
.mob-menu .select {
  left: 25px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
@media (max-width: 575.98px) {
  .nav-panel {
    display: none;
  }
}
.nav-panel .right-panel {
  display: flex;
  align-items: center;
}

.nav-panel-mob {
  background-color: #271301;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 575.98px) {
  .nav-panel-mob {
    display: none;
  }
}
.nav-panel-mob .burger-button button {
  width: 36px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: #271301;
  outline: none;
  border: none;
  padding: 0;
}
.nav-panel-mob .burger-button button span {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #ffe39a;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.mt-100 {
  margin-top: 100px;
}

.show {
  display: block !important;
}

.container-main {
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}
@media (max-width: 767.98px) {
  .container-main {
    padding: 0 70px;
  }
}
@media (max-width: 575.98px) {
  .container-main {
    padding: 0 10px;
  }
}

.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.search {
  margin-right: 38px;
  position: relative;
  width: 240px;
  height: 30px;
}
@media (max-width: 900px) {
  .search {
    display: none;
  }
}
.search .search-label {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.search input#search {
  border: none;
  width: 100%;
  height: 100%;
  background: rgba(214, 211, 211, 0.6);
  padding-left: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search input#search:focus {
  outline: none;
}
.search input#search::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search .search-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .nav-button {
  width: 88px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-left: 30px;
  color: #ffffff;
  cursor: pointer;
}

.buttons .button-fill {
  width: 220px;
  height: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 31px;
  background: #9f821a;
  border: none;
}

.select {
  position: absolute;
  bottom: 17px;
  right: 15px;
}
.select select {
  width: 123px;
  height: 36px;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 6px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(http://127.0.0.1:5500/img/select.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.select select option {
  background-color: black;
}

.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.container-modal {
  max-width: 90%;
  margin: auto;
  margin-top: 10%;
  background-color: #ffffff;
}

.header-second {
  text-align: center;
  background-color: #271301;
  padding: 10px 0;
}

.header-second-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.container {
  padding: 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    margin: 20px auto;
  }
}

.container--narrow {
  max-width: 720px;
}

.form-field {
  margin-bottom: 30px;
  width: 260px;
}
.form-field label,
.form-field .label {
  font-size: 18px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.form-field input[type=text],
.form-field input[type=password],
.form-field input[type=email],
.form-field .input {
  background-color: rgba(196, 196, 196, 0.46);
  width: 100%;
  font-size: 16px;
  padding: 12px 30px;
  border: 1px solid transparent;
  outline: none;
}
.form-field .birthday {
  background-color: rgba(196, 196, 196, 0.46);
  display: flex;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.form-field select,
.form-field .select {
  background: url(http://127.0.0.1:5501/img/check.png) no-repeat right 8px center;
  font-size: 16px;
  padding: 12px 32px 12px 12px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 20px;
}
.form-field select:last-child,
.form-field .select:last-child {
  margin-right: 0;
  width: 100%;
}
.form-field .select-border {
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  margin-right: 0;
}
.form-field .select-background {
  background-color: rgba(196, 196, 196, 0.46);
  display: inline-block;
}
.form-field input[type=checkbox] {
  display: none;
}
.form-field input[type=checkbox] + label {
  font-size: 14px;
  display: inline-block;
  padding-left: 24px;
  position: relative;
}
.form-field input[type=checkbox] + label:before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  width: 14px;
  height: 14px;
  background-color: rgba(196, 196, 196, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.form-field input[type=checkbox]:checked + label:after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.15);
}
.form-field input[type=radio] {
  display: none;
}
.form-field input[type=radio] + label {
  font-size: 14px;
  display: inline-block;
  padding-left: 24px;
  position: relative;
}
.form-field input[type=radio] + label:before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.form-field input[type=radio]:checked + label:after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}
.form-field textarea {
  background-color: rgba(196, 196, 196, 0.46);
  width: 100%;
  font-size: 16px;
  padding: 12px 30px;
  border: 1px solid transparent;
  outline: none;
  height: 180px;
}
.form-field .error-msg {
  display: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #e83737;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .form-field.form-field--error .error-msg {
    display: block;
  }
}
.form-field.form-field--error input {
  border: 1px solid #e83737;
}

textarea::placeholder,
input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

.social-block {
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .social-block {
    text-align: left;
  }
}

.social-item {
  display: inline-block;
  margin: 0 6px;
  transition: opacity 0.7s;
}
.social-item a {
  display: block;
}
.social-item:hover, .social-item:focus {
  opacity: 0.8;
}

.button {
  display: block;
  text-align: center;
  max-width: 220px;
  width: 100%;
  background-color: #9f821a;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 0;
  margin: 0 auto;
  transition: background-colod 0.7s;
}
@media (min-width: 768px) {
  .button {
    margin: 0;
    margin-bottom: 20px;
  }
}
.button:hover, .button:focus {
  background-color: #7f6814;
}

.button-field {
  margin: 15px auto;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button-field {
    display: inline-block;
    width: 220px;
    margin-right: 25px;
  }
}

.progress-bar {
  background: #0a7c2a;
  height: 7px;
}
.progress-bar.w-33 {
  width: 33%;
}
.progress-bar.w-66 {
  width: 66%;
}
.progress-bar.w-100 {
  width: 100%;
}

.preview-photo {
  height: 212px;
  width: 215px;
  text-align: center;
  vertical-align: middle;
  line-height: 212px;
  background-color: rgba(196, 196, 196, 0.46);
  color: rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
}
.preview-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-check {
  border: 5px solid #16866b;
  background-color: #16866b;
  border-radius: 9999px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
}
.select-check span {
  display: inline-block;
  padding: 10px 5px;
  font-size: 14px;
  margin: 0 auto;
}
.select-check span:not(.active) {
  background-color: #ffffff;
}
.select-check .active {
  color: #ffffff;
}

/* Modal confirm */
.modal.confirm.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal.confirm.user .container-modal {
  max-width: 90%;
  width: 660px;
}
.modal.confirm.user .container {
  max-width: 445px;
  margin: auto;
}
.modal.confirm .form-field {
  width: 100%;
  margin-bottom: 0;
}
.modal.confirm .form-field .label {
  margin-top: 23px;
  margin-bottom: 11px;
}
.modal.confirm .container-modal {
  max-width: 433px;
  margin-top: auto;
}
.modal.confirm .buttons {
  display: flex;
  margin-top: 27px;
  margin-bottom: 27px;
}
.modal.confirm .buttons .button-field {
  max-width: 152px;
  width: 152px;
  margin: 15px 30px 0 0;
}

/* Register modal*/
/* Slider bullet STARS */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.mob-menu {
  position: fixed;
  max-width: 247px;
  min-height: 300px;
  width: 247px;
  height: 100vh;
  background-color: #402105;
  right: 0;
  z-index: 35;
  display: none;
}
.mob-menu .close {
  position: absolute;
  top: 13px;
  right: 10px;
}
.mob-menu .close button {
  background-color: transparent;
  border: none;
  outline: none;
}
.mob-menu .user-name {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 20px;
}
.mob-menu .user-name p {
  margin-left: 12px;
}
.mob-menu .link {
  border-bottom: 1px solid #fffafa;
  margin-bottom: 19px;
}
.mob-menu .link a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 39px;
}
.mob-menu .select {
  left: 25px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
@media (max-width: 575.98px) {
  .nav-panel {
    display: none;
  }
}
.nav-panel .right-panel {
  display: flex;
  align-items: center;
}

.nav-panel-mob {
  background-color: #271301;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 575.98px) {
  .nav-panel-mob {
    display: none;
  }
}
.nav-panel-mob .burger-button button {
  width: 36px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: #271301;
  outline: none;
  border: none;
  padding: 0;
}
.nav-panel-mob .burger-button button span {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #ffe39a;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.mt-100 {
  margin-top: 100px;
}

.show {
  display: block !important;
}

.container-main {
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}
@media (max-width: 767.98px) {
  .container-main {
    padding: 0 70px;
  }
}
@media (max-width: 575.98px) {
  .container-main {
    padding: 0 10px;
  }
}

.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.search {
  margin-right: 38px;
  position: relative;
  width: 240px;
  height: 30px;
}
@media (max-width: 900px) {
  .search {
    display: none;
  }
}
.search .search-label {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.search input#search {
  border: none;
  width: 100%;
  height: 100%;
  background: rgba(214, 211, 211, 0.6);
  padding-left: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search input#search:focus {
  outline: none;
}
.search input#search::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.search .search-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .nav-button {
  width: 88px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-left: 30px;
  color: #ffffff;
  cursor: pointer;
}

.buttons .button-fill {
  width: 220px;
  height: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 31px;
  background: #9f821a;
  border: none;
}

.select {
  position: absolute;
  bottom: 17px;
  right: 15px;
}
.select select {
  width: 123px;
  height: 36px;
  border: 1px solid #e9bc1a;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 6px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(http://127.0.0.1:5500/img/select.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.select select option {
  background-color: black;
}

footer {
  background: #271301;
}
footer .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 130px 0;
  position: relative;
}
@media (max-width: 813px) {
  footer .links {
    justify-content: center;
    flex-direction: column;
  }
}
footer .links div {
  margin-right: 15px;
}
@media (max-width: 813px) {
  footer .links div {
    margin-right: 0;
  }
}
footer .links a {
  text-decoration: none;
}
footer .links a div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
footer .links .buttons .nav-button {
  margin-left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}

.nav-panel-mob {
  display: flex;
}
@media (min-width: 767.98px) {
  .nav-panel-mob {
    display: none;
  }
}

header {
  background-color: #271301;
}
header .nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  height: 52px;
}
@media (max-width: 767.98px) {
  header .nav-panel {
    display: none;
  }
}
@media (max-width: 1000px) {
  header .nav-panel .search {
    display: none;
  }
}
header .nav-panel .user-name {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 0px;
  padding-left: 35px;
}
header .nav-panel .user-name p {
  margin-left: 12px;
}
header .nav-panel .user-name img {
  width: 26px;
  height: 26px;
}

.modal-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.header-modal {
  text-align: center;
  background-color: #271301;
  padding: 4px 0;
}

.header-modal-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

body {
  position: relative;
}

.h1.mob {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0;
  background: #ffe39a;
}
@media (max-width: 991.98px) {
  .h1.mob {
    display: flex;
  }
  .h1.mob img {
    position: absolute;
    right: 10px;
  }
  .h1.mob img.rotate {
    transform: rotate(180deg);
  }
}

.sidebar-mob-block {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 100px;
  background-color: rgba(196, 196, 196, 0.8);
  z-index: 15;
}
@media (min-width: 991.98px) {
  .sidebar-mob-block {
    display: none !important;
  }
}

.sidebar-mob {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  padding-bottom: 15px;
}
.sidebar-mob .sidebar-list {
  width: 100%;
  margin: 0;
}

.sidebar {
  display: block;
  background-color: #fff;
  z-index: 2;
}
@media (max-width: 991.99px) {
  .sidebar {
    width: 100%;
    display: none;
  }
}
@media (min-width: 992px) {
  .sidebar {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    margin-right: 50px;
  }
}

.position-relative {
  position: relative;
}

@media (min-width: 992px) {
  .sidebar-item {
    width: 100%;
    margin-bottom: 70px;
  }
}

.sidebar-nav-mob {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  background-color: #ffe39a;
  margin: 0 -15px;
  position: relative;
}
@media (min-width: 992px) {
  .sidebar-nav-mob {
    display: none;
  }
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .sidebar-title {
    text-align: left;
    margin: 0 0 12px;
  }
}

.sidebar-list {
  margin: 0 -15px;
  padding: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .sidebar-list {
    border: 1px solid rgba(0, 0, 0, 0.35);
    text-align: left;
    margin: 0;
    width: 100%;
  }
}
.sidebar-list li {
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
  padding: 8px 30px 8px 10px;
  text-decoration: underline;
  margin-bottom: 3px;
  cursor: pointer;
}
.sidebar-list li:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .sidebar-list li {
    border: 1px solid rgba(0, 0, 0, 0.35);
    text-decoration: none;
  }
}
.sidebar-list .active {
  background-color: rgba(205, 167, 31, 0.47);
  text-decoration: none;
}

.setting-data-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}
@media (min-width: 992px) {
  .setting-data-title {
    text-align: left;
    margin-bottom: 8px;
    margin-top: 0;
  }
}

.setting-data-block {
  width: 100%;
}
@media (min-width: 992px) {
  .setting-data-block {
    padding: 30px 50px;
    background-color: rgba(196, 196, 196, 0.39);
    min-height: 100vh;
  }
}

.button-small {
  display: block;
  text-align: center;
  max-width: 150px;
  width: 100%;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  padding: 6px 0;
  margin: 0 auto;
  transition: background-color 0.7s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button-small {
    margin: 0;
  }
}
.button-small.bg-red {
  background-color: #9f3a1a;
}
.button-small.bg-red:hover {
  background-color: #732a13;
}
.button-small.bg-green {
  background-color: #43560d;
}
.button-small.bg-green:hover {
  background-color: #202a06;
}
.button-small.bg-lggreen {
  background-color: #0b6f09;
  max-width: 220px;
}
.button-small.bg-lggreen:hover {
  background-color: #095707;
}

.button-field-small {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button-field-small {
    display: inline-block;
    width: 150px;
    margin: 15px;
  }
}

.text-right {
  text-align: right;
}

.tag-container {
  width: 100%;
  text-align: center;
}
.tag-container th {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 360px) {
  .tag-container th span {
    display: none;
  }
}
.tag-container td {
  font-size: 16px;
  font-weight: 400;
}
.tag-container td:last-child {
  line-height: 32px;
}
.tag-container td img {
  vertical-align: middle;
  cursor: pointer;
}

.hide {
  display: none;
}

.row {
  margin: 0 -5px;
}