/* ABOUT ME*/
.about {
  margin-left: auto;
  margin-right: auto;
  @include block(auto, fit-content);
  p {
    font-size: 1.5rem;
  }
  .about-block {
    padding: 20px;
    color: $color;
    background-color: $bg;
    background-size: cover;
  }

  .info {
    border-radius: 10px;

    .info-text {
      font-size: 1.7rem;
    }
  }
  /*TIMER*/
  .reverse {
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto;
    width: 80%;
    color: $color;
    font-weight: bold;
    background: $color;
    border-radius: 5px;
    @media (max-width:991.98px) {
      width: 100%;
    }
  }

  .time-text {
    font-size: 18px;
    margin: 5px 0 0;
    @media (max-width:991.98px) {
      font-size: 14px;
    }
  }

  .time-block {
    padding: 5px 5px;
    border: 1px solid black;
    max-width: 250px;
    width: 20%;
    height: auto;
    font-size: 18px;
    background: $darksalt;
  }
}
.social {
  width: 70px;
  transition:width .4s;
  p{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition-delay: all 2s;transition: none;
    
    font-size: 18px;
    margin-left: 65px;
  }
  &:hover{
    width: 320px;
    p{visibility: visible;
      opacity: 1;transition: visibility 1s linear, opacity 1.5s linear;}
  }
  
  z-index: 10;
  position: fixed;
  margin-top: -10px;
  height: 100%;
  background: rgba(255, 255, 255);
  div {
    position: relative;
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  div + div {
    margin-top: 10px;
  }
  a {
    font-size: 45px;
  }

  a > i {
    transition: all 0.2s;
  }

  a:hover i{
    transform: rotate(20deg);
    transition: all 0.2s;
  }

  > div:nth-child(1) > a {
    color: blue;
  }

  > div:nth-child(2) > a {
    color: rgb(202, 91, 110);
  }

  > div:nth-child(4) > a {
    color: red;
  }

  > div:nth-child(5) > a {
    color: purple;
  }

  > div:nth-child(6) > a {
    color: green;
  }
}
.my-ava {
  max-width: 200px;
  width: inherit;
  display: block;
  margin: auto;
  border-radius: 50%;
}

@media (max-device-width: 575px) {
  .time-block:last-child {
    display: none;
  }

  #ml p {
    display: none;
  }

  body > header > div > div.text-center > div.reverse > div:nth-child(5) {
    display: none;
  }

  .time-block {
    margin: 0px 2px;
    font-size: 18px;
  }

  .time-text {
    font-size: 12px;
  }
}
