.certif {
  @include block(auto, fit-content);
  background-color: $bg;
  color: $color;
  margin-bottom: 30px;
  .swiper-slide {
    max-height: 460px;
    overflow: hidden;
    @media (max-width: 575.98px) {
      max-height: 205px;
    }
  }
}
