/*PORTFOLIO*/
.portfolio {
  @include block(auto, fit-content);
  display: block;
  margin: 0 auto;
  background-color: $bg;
  color: $color;
  .github {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 105px);
      top: 50%;
      transform: translate(0, -50%);

      background-image: url(../../img/GitHub-Mark.png);
      width: 36px;
      height: 36px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  h1 {
    width: 100%;
    background: rgb(107, 41, 41);
    color: black;
    margin: auto;
    padding: 10px 20px;
  }
  .myModal {
    cursor: zoom-in;
  }
  .container {
    max-height: 670px;
    overflow-y: hidden;
    padding: 0;
  }
}

/*LIST*/
.list-group {
  margin: 0 auto;
  width: 100%;
}

.list-group a {
  margin: 0 10px;
  text-align: center;
  border-left-width: 1px !important;
  @media (max-width: 991.98px) {
    margin: 0;
  }
}

.list-group div {
  width: max-content;
  padding: 0 40px;
  @media (max-width: 991.98px) {
    display: block;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  @media (max-width: 991.98px) {
    font-weight: bolder;
    font-size: smaller;
  }
}

.list-group-item {
  width: max-content;
  font-size: 1rem;
  color: #fff;
  border: 2px solid white;
  background: $darksalt;
  @media (max-width: 991.98px) {
    min-width: 25%;
    max-width: 25%;
    text-align: center;
  }
  @media (max-width: 575.98px) {
    max-width: 31%;
    font-size: small;
    padding: 0.75rem 0.25rem;
  }
}

.list-group-item.active {
  color: #000000;
  background: orange;
  @media (max-width: 991.98px) {
    margin: 0;
  }
}

body > div.column.container > div.row.container {
  margin: 0 !important;
}

.switch {
  margin: 0 auto !important;
}

.swiper-wrapper div {
  justify-content: center;
  margin: 0 auto;
}
.swiper-slide {
  max-height: 390px;
  @media (max-width: 575.98px) {
    max-height: 205px;
  }
}
.swiper-slide img,
.swiper-slide video,
.swiper-slide p {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  @media (max-width: 575.98px) {
    width: 100%;
  }
}

.holding {
  div {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .holding-img-title {
    -webkit-filter: blur(16.5px);
    filter: blur(1.5px);
  }

  .link {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid $color;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0, 0.9);
    @media (max-width: 575.98px) {
      padding: 15px;
    }
    p {
      color: unset;
      text-shadow: -3px 3px $color;
      width: 100%;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 5px;
      @media (max-width: 767.98px) {
        font-size: 12px;
        text-shadow: none;
        margin-bottom: 0;
      }
    }
  }
}

.list-tech {
  font-size: 1.7rem;
  @media (max-width: 575.98px) {
    font-size: 1rem;
  }
  li + li {
    margin-top: 20px;
    @media (max-width: 575.98px) {
      margin-top: 5px;
    }
  }
}

.review-hold {
  div {
    margin-top: 40px;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 95px solid white;
      margin-top: -80px;
      margin-left: 85%;
      z-index: -2;
      transform: rotate(20deg);
    }
  }
}
