/*SKILLS*/
.my-skills {
  @include block(none, fit-content);
  margin-left: auto;
  margin-right: auto;
  color: $color;
  text-transform: uppercase;
  font-size: 30px;
  @media (max-width: 991.98px) {
    img {
      width: 102px;
    }
  }

  h1 {
    background-color: $bg;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
  }

  .html {
    position: relative;
    background-color: $bg;

    @media (max-width: 991.98px) {
      display: flex;
      justify-content: center;
      border-right: 1px dotted white;
      &:nth-child(3),
      &:nth-child(6) {
        border-right: none;
      }
    }
    @media (max-width: 767.98px) {
      margin-top: 50px;
      border-right: none;
      border-bottom: 1px solid $color;
      justify-content: space-between;
      align-items: center;
      &:first-child {
        margin-top: 0;
      }
    }
    & > p {
      margin-top: -43px;
    }

    #circle,
    #circle1,
    #circle2,
    #circle3,
    #circle4,
    #circle5 {
      position: relative;
      margin-left: 25px;
      margin-top: -30px;
      @media (max-width: 991.98px) {
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 15px;
        border-bottom: 1px dotted white;
      }
      @media (max-width: 767.98px) {
        margin-top: -30px;
        border-bottom: none;
      }
    }
    #circle3,
    #circle4,
    #circle5 {
      @media (max-width: 991.98px) {
        border-bottom: none;
      }
    }
    #circle1 {
      @media (max-width: 767.98px) {
        margin-top: -26px;
      }
    }
    .circle-text {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-48%, -65%);
      @media (max-width: 991.98px) {
        transform: translate(-48%, -53%);
      }
    }
  }
}
