$bg: #0f1b27;
$color: #c9cbce;
$boxshadow: 0px 16px 48px -20px rgb(56, 0, 0);
$darksalt: #0f1b27;

body {
  background: url("../../img/bg.jpg") fixed;
  background-size: cover;
  padding: 0 !important;
  margin-left: 70px;
}
h1 {
  font-size: 30px;
}
.modal-open {
  overflow: scroll;
  padding: 0 !important;
}
.modal-backdrop.show {
  display: none;
}
.modal-lg,
.modal-xl {
  max-width: 80%;
  cursor: auto;
}
.modal-open .modal {
  background: rgba(0, 0, 0, 0.7);
  cursor: zoom-out;
}
.btn-block {
  position: relative;
  display: block;
  z-index: 10;
}
.arrow {
  background-color: orangered;
  border-radius: 95%;
  color: #ffffff;
  border: none;
  font-size: 40px;
  display: block;
  margin: auto;
  margin-top: -25px;
  animation: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes rotation {
    0% {
      transform: scale(1);
    }
    49% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  button {
    background-color: transparent;
  }
}
.arrow-port {
  z-index: 10;
  right: -30px;
}
