@charset "UTF-8";
body {
  background-color: #242526;
  color: #C9CBCE;
}

/*HEADER*/
header {
  background: darkslategray;
  color: #C9CBCE;
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  border: 2px dotted white;
}
header nav {
  display: block;
  width: 100%;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  margin-top: 15px;
  font-size: 30px;
}
header .change-lang {
  position: absolute;
  right: 0px;
  top: 14px;
  z-index: 3;
}
header .change-lang .checked:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
header .change-lang .checked {
  margin: 0 15px;
  transition: all 0.2s;
}
header .change-lang img {
  margin: 0 15px;
}

/*CHECKBOX*/
/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  width: 26px;
  height: 26px;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  border-radius: 50%;
}

/* стили для радиокнопки, находящейся в фокусе */
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-color: white;
  background-image: url(../img/hotpng.com.png);
  background-size: cover;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
/* ABOUT ME*/
.about {
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  padding: 5px;
  width: auto;
  box-shadow: 0px 16px 48px -20px white;
  position: relative;
  z-index: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.about::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, darkslategray), linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, #C9CBCE);
  animation: rotate 164s linear infinite;
}
.about::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #18191A;
  border-radius: 5px;
}
.about .about-block {
  padding: 20px;
  color: #C9CBCE;
  background-color: #18191A;
  background-size: cover;
}
.about .info {
  border-radius: 10px;
}
.about .info .info-text {
  font-size: 1.7rem;
}
.about .social {
  min-height: 70px;
}
.about .social a {
  font-size: 45px;
}
.about .social a > i {
  transition: all 0.2s;
}
.about .social a > i:hover {
  transform: rotate(20deg) scale(1.1);
  font-size: 60px;
  transition: all 0.2s;
}
.about .social > div:nth-child(1) > a {
  color: blue;
}
.about .social > div:nth-child(2) > a {
  color: #ca5b6e;
}
.about .social > div:nth-child(4) > a {
  color: red;
}
.about .social > div:nth-child(5) > a {
  color: purple;
}
.about .social > div:nth-child(6) > a {
  color: green;
}

.my-ava {
  max-width: 200px;
  width: inherit;
  display: block;
  margin: auto;
  border-radius: 50%;
}

/*TIMER*/
.reverse {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  color: #C9CBCE;
  font-weight: bold;
  background: #C9CBCE;
  border-radius: 5px;
}

.time-text {
  font-size: 18px;
  margin: 5px 0 0;
}

.time-block {
  padding: 5px 5px;
  border: 1px solid black;
  max-width: 100px;
  width: 20%;
  height: auto;
  font-size: 18px;
  background: darkslategray;
}

@media (min-device-width: 500px) and (max-device-width: 9999px) {
  .oplata_kartoy {
    display: none !important;
  }
}
@media (min-device-width: 1px) and (max-device-width: 575px) {
  .time-block:last-child {
    display: none;
  }

  #ml p {
    display: none;
  }

  body > header > div > div.text-center > div.reverse > div:nth-child(5) {
    display: none;
  }

  .time-block {
    margin: 0px 2px;
    font-size: 18px;
  }

  .time-text {
    font-size: 12px;
  }
}
/*SKILLS*/
.my-skills {
  border: 10px solid black;
  padding: 5px;
  width: none;
  box-shadow: 0px 16px 48px -20px white;
  position: relative;
  z-index: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  color: #C9CBCE;
  text-transform: uppercase;
  font-size: 30px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.my-skills::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, darkslategray), linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, #C9CBCE);
  animation: rotate 164s linear infinite;
}
.my-skills::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #18191A;
  border-radius: 5px;
}
.my-skills h1 {
  background-color: #18191A;
  margin-bottom: 0 !important;
  padding-bottom: 20px;
}
.my-skills .html {
  position: relative;
  background-color: #18191A;
}
.my-skills .html p {
  margin-left: 20px;
}
.my-skills .html span {
  position: absolute;
  right: 35px;
}
.my-skills .html .percent {
  position: absolute;
  right: 5px;
}

/*PORTFOLIO*/
.portfolio {
  border: 10px solid black;
  padding: 5px;
  width: 90%;
  box-shadow: 0px 16px 48px -20px white;
  position: relative;
  z-index: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: #18191A;
  color: #C9CBCE;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.portfolio::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, darkslategray), linear-gradient(darkslategray, darkslategray), linear-gradient(#C9CBCE, #C9CBCE);
  animation: rotate 164s linear infinite;
}
.portfolio::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #18191A;
  border-radius: 5px;
}

/*LIST*/
.list-group {
  margin: 0 auto;
  width: 100%;
}

.list-group a {
  margin: 0 20px;
  text-align: center;
  border-left-width: 1px !important;
}

.list-group div {
  width: -webkit-max-content;
  width: max-content;
  padding: 0 40px;
}

.list-group-item {
  width: -webkit-max-content;
  width: max-content;
  font-size: 1rem;
}

.list-group-item.active {
  background: darkslategray;
  border: 1px solid #e6e6e6 !important;
  margin: 0 20px !important;
  width: -webkit-max-content !important;
  width: max-content !important;
}

body > div.column.container > div.row.container {
  margin: 0 !important;
}

.switch {
  margin: 0 auto !important;
}

.swiper-wrapper div {
  justify-content: center;
  margin: 0 auto;
}

.swiper-slide img,
.swiper-slide video,
.swiper-slide p {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.holding .holding-img-title {
  filter: blur(1.5px);
}
.holding .link {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid #C9CBCE;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.9);
}
.holding .link p {
  color: unset;
  text-shadow: -3px 3px #C9CBCE;
  width: 100%;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 5px;
}